<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	This <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> is a project to make a book and screencast to teach web development with ....
</p>
